.div_centroatencion{
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
}
.Tickets{
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 1rem;
}
.Requests{
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 1rem;
}
.Card{
    backdrop-filter: blur(20px);
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    align-items: center;
    padding: 0 2rem;
    border-radius:1.2rem;
    
}