@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Tema LightPeru */
  &.LightPeru {
    /*Colores*/
    --colorblur-peru: rgba(230, 37, 50,1);
    --color-neutral: black;
    --color-contraneutral: white;
    --colorblur-neutral: rgba(0, 0, 0, 0.5);
    --colorblur-contraneutral: rgba(255, 255, 255, 0.5);

    /*Dashboard*/
    --dashboard-bg: url("/dashboard/fondos/Designer.jpeg");
    /*Dashboard*/

    --bg-login: url("/login/FondoInicioPeru.png");
    --bg-login-card: rgba(199, 43, 64, 0.5);
    --bg-darkmode85: rgba(255, 255, 255, 0.85);
    --bg-darkmode50: rgba(255, 255, 255, 0.5);

    --nextui-background-color: rgba(255, 255, 255, 0.65);

    --dashboard-Layer: linear-gradient(
      150deg,
      rgba(255, 255, 255, 0.72) 0%,
      rgba(245, 22, 22, 0.858) 90%
    );
    --dashboard-Dash: rgb(255 255 255 / 31%);
    --dashboard-Dash1: rgb(255 255 255 / 41%);

    --dashboard-fondo: url("/dashboard/FondoInicioPeru.png");
  }
  /* Tema DarkPeru */
  &.DarkPeru {
    /*Colores*/
    --colorblur-peru: rgba(199, 79, 79,1);

    --color-neutral: white;
    --color-contraneutral: black;
    --colorblur-neutral: rgba(255, 255, 255, 0.5);
    --colorblur-contraneutral: rgba(0, 0, 0, 0.5);
    /*Colores*/

    --nextui-background-color: rgba(0, 0, 0, 0.75);
    --bg-darkmode85: rgba(0, 0, 0, 0.85);
    --bg-darkmode50: rgba(0, 0, 0, 0.5);

    --mi-app-primary-100: #0c5468;

    --dashboard-Layer: none;
    --dashboard-Dash: rgba(16 18 27 / 40%);
    --dashboard-fondo: url("/dashboard/FondoInicioPeru.png");
    --dashboard-bg: url("/dashboard/fondo1.jpg");
  }
  /* Tema LightArgentin a */
  &.LightArgentina {
    --bg-login: url("/login/FondoArgentinaLogin.png");
    --bg-login-card: rgba(47, 145, 170, 0.5);
    --mi-app-primary-100: #d9e2fe;
  }
  /* Tema DarkArgentina */
  &.DarkArgentina {
    --nextui-background-color: red;
    --mi-app-primary-100: #0c5468;
  }
}

/*Codepen*/
.custom-btn {
  width: 200px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: var(--colorblur-peru);
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
  border: 1.8px solid transparent; /* Borde transparente por defecto */
}

/* 11 */
.btn-11 {
  border: none;
  color: #fff;
  overflow: hidden;
  position: relative;
}

.btn-11:hover {
  text-decoration: none;
  color: #fff;
}

.btn-11:before {
  position: absolute;
  content: "";
  display: inline-block;
  top: -180px;
  left: 0;
  width: 30px;
  height: 100%;
  background-color: #fff;
  animation: shiny-btn1 3s ease-in-out infinite;
}

.btn-11:hover {
  opacity: 0.7;
}

.btn-11:active {
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.3),
    -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, 0.2);
}
@keyframes shiny-btn1 {
  0% {
    -webkit-transform: scale(0) rotate(45deg);
    opacity: 0;
  }

  80% {
    -webkit-transform: scale(0) rotate(45deg);
    opacity: 0.5;
  }

  81% {
    -webkit-transform: scale(4) rotate(45deg);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(50) rotate(45deg);
    opacity: 0;
  }
}
/**/
::-webkit-scrollbar {
  width: 10px; /* Ancho de la barra de desplazamiento */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color del fondo de la barra de desplazamiento */
}

::-webkit-scrollbar-thumb {
  background: #fb6c6a; /* Color del pulgar de la barra de desplazamiento */
  border-radius: 5px; /* Radio de borde del pulgar */
}

::-webkit-scrollbar-thumb:hover {
  background: #e90a0a; /* Color del pulgar de la barra de desplazamiento al pasar el mouse */
}
